/**********
Universal Styles
**********/

@font-face {
	font-family: "Poppins";
	src: url('../font/Poppins-Regular.ttf');
}

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	padding-bottom: 230px;
}

/**********
Container
**********/

.container {
	width: 90%;
	margin: 0 auto;
}

/**********
Navigation Styles
**********/

nav {
	width: 100%;
	z-index: 1000;
	position: fixed;
	background: white;
}

h1 {
	font-size: 1.6rem;
	text-align: center;
	border-bottom: 1px solid lightgrey;
	border-color: grey;
	padding-bottom: 10px;
	margin-bottom: 0;
}

/**********
Header Styles
**********/

header {
	width: 100%;
	background: #424242;
	color: #fff;
	padding: 50px 0;
	background: linear-gradient(rgba(0,0,0,.3) 10%, rgba(0,0,0,.9) 100%), 
							top / cover no-repeat url('../img/background.jpg');
}

header h2 {
	font-size: 1rem;
	line-height: 1.3;
	text-align: center;
	margin-top: 30px;
}

header h2 > span {
	display: inline-block;
	text-align: center;
	margin-top: 30px;
}

/**********
Main Styles
**********/

main {
	background: white;
}


main h3 {
	background: white;
	z-index: 100; 
	text-align: center;
	padding-top: 25px;
	width: 100%;
	font-size: 1.3em;
	margin-top: 0;
}

/**********
Portfolio
**********/

h3 + p {
	text-align: center;
}

.button-container {
	display: flex;
	border-radius: 10px;
	margin: 30px 0;
	border-radius: 3px;
}

.button-container button:first-child {
	margin-left: auto;
}

.button-container button:last-child {
	margin-right: auto;
}

.button-container button {
	background: #0091EA;
	color: #fff;
	border-color: transparent;
	padding: 10px;
	opacity: .8;
	cursor: pointer;
}

.button-container button:active,
.button-container button:hover {
	opacity: 1;
	outline: none;
}

/**********
Project Container
**********/

.project-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.project-container img {
	max-width: 100%;
	margin: 10px 0;
	border-radius: 10px;
}

.project-description {
	display: flex;
	flex-direction: column;
	align-items: space-around;
}

.project-description h4 {
	text-align: center;
	font-size: .8em;
}

.project-description p {
	font-size: .8em;
	text-align: center;
}

.project-description a {
	text-align: center;
	text-decoration: none;
	border: 1px solid #0091EA;
	color: #0091EA;
	padding: 5px 10px;
	border-radius: 33px;
	width: 50%;
	margin: 20px auto;
	/*transition: all .2s;*/
}

.project-description a:hover,
.project-description a:active {
	width: 55%;
	transition: all .5s;
	padding-left: 20px;
	padding-right: 20px;
	border-color: transparent;
	background: #0091EA;
	color: #fff;
}

/**********
Footer
**********/

footer {
	background: #000;
	color: #fff;
	padding: 30px 0 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

footer h4,
footer p {
	text-align: center;
}

footer p {
	font-size: .8em;
}

.social-icons {
	display: flex;
	justify-content: space-around;
	max-width: 300px;
	margin: 30px auto 0;
}

.social-icons a {
	padding: 10px;
	background: #424242;
	border-radius: 50%;
	opacity: .7;
}

.social-icons a:first-child {
	padding: 10px 12px;
}

.social-icons a:hover,
.social-icons a:focus {
	opacity: 1;
}

/**********
Media Queries
**********/

@media (min-width: 500px) {
	.project-description h4,
	.project-description p {
		font-size: 1em;
	}
}

@media (min-width: 768px) {

	header h2 {
		padding: 100px 0;
		font-size: 1.3rem;
	}	
	
	.project-container {
		display: inline-block;
		max-width: 45%;
		margin: 0 2%;
	}

	./*project-container:last-child {
		display: block;
		margin: 0 auto;
	}
*/}

@media (min-width: 1024px) {
	header h2 {
		font-size: 1.7rem;
	}

	.project-container {
		max-width: 30%;
		margin: 0 1%;
	}
}